@model List<Qalsql.Models.HwExercise>

@{
    ViewBag.Title = "SQL Задачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Лекция №@(Model.Any() ? Model[0].LessonId.ToString() : "...")</h2>

<div class="container">
    <div class="panel-group" id="accordion">

        @foreach (var exe in Model)
        {
            var href = "collapse" + exe.ExerciseNum;

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#@href">Задача №@exe.ExerciseNum</a>
                    </h4>
                </div>
                <div id="@href" class="panel-collapse collapse">
                    <div class="panel-body">
                        @using (Html.BeginForm())
                        {
                            <div class="form-horizontal">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="form-group">@exe.Conditions</div>
                                    <div class="form-group">@Html.TextArea("sql", new { rows = 10, @class = "form-control" })</div>
                                    <div class="form-group col-md-offset-8">
                                        <input type="submit" value="Send" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

