@model Qalsql.Models.SqlResult

@{
    ViewBag.Title = "SQL Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>SQL Result</h2>

@if (Model.Status.IsOk)
{
    <h3>Your SQL: @Model.Query</h3>
    <table>

        <thead>
        <tr>
            @foreach (var colHeader in Model.Header)
            {
                <th>@colHeader</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var row in Model.Data)
        {
            <tr>
                @foreach (var col in row)
                {
                    <td>@col</td>
                }
            </tr>
        }
        </tbody>

    </table>
}
else
{
    <h3>ERROR: @Model.Status.Message</h3>
}
