@{
    ViewBag.Title = "Контакт";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Офис QALight<br/>
    НАУ пр-т Комарова, 1, 11 корпус<br />
    <abbr title="Phone">P:</abbr>
    (097)3**-7*-9*
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:dmytro.boboshko@gmail.com">dmytro.boboshko@gmail.com</a><br />
    <strong>Skype:</strong>   <a href="skype:dmitryboboshko">dmitryboboshko</a><br />
</address>