@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SQL Checker v.1.0</h1>
    <p class="lead">Проверь себя! Реши задачи!</p>
    <p>@Html.ActionLink("Начало...", "ListOfTasks", new RouteValueDictionary { {"controller", "SqlChecker"} })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>QA Light Trening center</h2>
        <p><img style="padding-top: 5px; width: 100%;" src="http://image.prntscr.com/image/b9d3deabe4d74d589fe5e1a5b44f76dd.png" /></p>
        <p>QALight — это Тренинг Центр по подготовке квалифицированных IT-специалистов широкого профиля. Это обучение в сфере тестирования и разработки программного обеспечения — от азов до применения своих знаний в реальной жизни. IT-отрасль стремительно развивается в Украине и мире, спрос компаний на опытных IT-специалистов ежедневно растет. И это неудивительно: ведь каждый продукт (будь это сайт, веб-приложение, программа или новый сервис) должен быть качественным, корректным и удобным в применении для конечного пользователя. Именно поэтому мы всецело заинтересованы в подготовке IT-специалистов, которые с легкостью и профессионализмом смогут создавать качественный IT-продукт в Украине.</p>
        <p><a class="btn btn-default" href="http://qalight.com.ua">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>QALight on DOU</h2>
        <p><img style="padding-top: 5px; width: 100%;" src="http://image.prntscr.com/image/429c335673894d558f0fae76a9e5318e.png"/></p>
        <p>DOU (DOU.Ua, douua.org, developers.org.ua) — український російськомовний веб-сайт з елементами колективного блогу, створений для розповсюдження новин, аналітичних статей та свіжої інформації пов'язаної із інформаційними технологіями.</p>
        <p><a class="btn btn-default" href="https://jobs.dou.ua/companies/qa-light/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>QALight on Facebook</h2>
        <p><img style="padding-top: 5px; width: 100%;" src="http://image.prntscr.com/image/a91794a0b30a4417b4b1b42013ea7f60.png"/></p>
        <p><a class="btn btn-default" href="https://www.facebook.com/QALight/">Learn more &raquo;</a></p>
    </div>
</div>